APP_NAME=Dijital Oto Sanayi API
APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8000

DATABASE_URL=postgresql://postgres:password@localhost:5432/dijital_otosanayi

JWT_SECRET_KEY=change_this_secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

CORS_ORIGINS=http://localhost:3000